/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4eacf8;
  --ifm-color-primary-dark: #287ea7;
  --ifm-color-primary-darker: #1f7fa5;
  --ifm-color-primary-darkest: #33698d;
  --ifm-color-primary-light: #2990d5;
  --ifm-color-primary-lighter: #328dd8;
  --ifm-color-primary-lightest: #4f98dd;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #257bc2;
  --ifm-color-primary-dark: #2182af;
  --ifm-color-primary-darker: #1f7fa5;
  --ifm-color-primary-darkest: #1a5c88;
  --ifm-color-primary-light: #2990d5;
  --ifm-color-primary-lighter: #328dd8;
  --ifm-color-primary-lightest: #4f98dd;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* search bar, algolia doc search appearance */

[data-theme='light'] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);

  --docsearch-searchbox-background: var(--ifm-color-secondary);

  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  --docsearch-hit-background: var(--ifm-color-white);

  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);

  --docsearch-footer-background: var(--ifm-color-white);
  border-radius: 10px;
}
[data-theme='dark'] .DocSearch {
  --docsearch-key-background: #212124;
  border: 1px  var(--docsearch-key-background) solid;
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(1, 1, 1, 0.3);

  --docsearch-searchbox-background: var(--ifm-background-color);

  --docsearch-searchbox-focus-background: rgb(26, 26, 34);
  --docsearch-modal-background: rgb(26, 26, 34);
  --docsearch-hit-background: rgb(26, 26, 34);

  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);

  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
  border-radius: 10px;
}

@layer docusaurus.theme-search-algolia.docsearch {
  .DocSearch-Form {
    border-bottom: none !important;
    border-radius: 10px !important;
  }
}

@layer docusaurus.theme-search-algolia.docsearch {
  .DocSearch-Modal {
    border-radius: 10px !important;
    margin: 110px auto auto !important;
  }
}

/* css structure "todo" if i ever care enough to do so. */

@layer docusaurus.theme-classic {
  .toggle_vylO {
    margin-left: 0.15rem;
  }
}
@layer docusaurus.infima {
  .navbar__logo {
    margin-right: 0.85rem;
  }
}

footer {
  display: none !important;
}

@layer docusaurus.infima {

  html[data-theme="dark"] {
    background:rgb(25, 25, 27);
    --ifm-background-surface-color: rgb(26, 26, 28);
    --ifm-footer-background-color: rgb(25, 25, 27);
  }
  html[data-theme="light"] {
    --ifm-background-surface-color: rgb(252, 252, 252);
    --ifm-footer-background-color: #1f1f22;
  }

  [data-theme='dark'] .footer--dark {
    --ifm-footer-background-color: #161618;
    --ifm-footer-color: var(--ifm-footer-link-color);
    --ifm-footer-link-color: var(--ifm-color-secondary);
    --ifm-footer-title-color: var(--ifm-color-white);
  }
  [data-theme='light'] .footer {
    --ifm-footer-title-color: black;
    --ifm-footer-background-color: rgb(250, 250, 255);
    --ifm-footer-color: black;
    --ifm-footer-link-color: rgb(65, 100, 146);
  }
  
}

.hero__subtitle {
  font-style: italic;
  font-size: 1.1em;
}